h4
{
    text-align: center;
}

.t_msg
{
    width:80%;
    height:80px;
    padding:10px;
}

.liste_msg
{
    overflow-x: hidden;
    overflow-y: auto;
    height:500px;
    color:seagreen;
    padding:5px;
}

.new_msg_div
{
    position: absolute;
    width:90%;
    bottom:0px;
    background-color: white;

}

.tchatroom
{
  background-color: white;
  height: 90%;
  color:darkslategrey;
}