h4
{
    text-align: center;
}

.t_msg
{
    width:80%;
    height:80px;
    padding:10px;
}

.liste_msg
{
    overflow-x: hidden;
    overflow-y: auto;
    height:600px;
    color:olivedrab;
}

.new_msg_div
{
    position: absolute;
    width:100%;
    bottom:0px;
}